streamlit~=1.49.1
pandas~=2.3.2
python-dotenv~=1.0.1

# LangChain ecosystem
langchain~=0.3.27
langchain-community~=0.3.29
langchain-core~=0.3.59
langchain-text-splitters~=0.3.11
langchain-google-genai~=2.1.10
langgraph~=0.4.3
langchain-huggingface

#Vector store+PDF
faiss-cpu
pypdf

# Networking
requests